# Dependencies
node_modules/
*/node_modules/

# Environment Variables (Never commit passwords or secrets!)
.env
.env.*
!.env.example
*/.env
*/.env.*
!*/.env.example

# Production builds
dist/
dist-ssr/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/
